.sentiments {
  margin: 5px 5px 5px 5px;
  border-radius: 20px;
  background-color: aliceblue;
}

.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 20px;
}

.form-info {
  margin: 5px;
  text-align: left;
}

.label {
  margin-right: 5px;
}

.search-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.info {
  padding-left: 20px;
  text-align: left;
}

.info-data {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.info-data-row {
  margin-bottom: 10px;
}

.table,
.td,
.tr {
  margin: 50px 30px;
  border: 1px solid black;
  border-collapse: collapse;
}

.row-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.info-column {
  display: flex;
  flex-direction: column;
}
